body {
	background-color: LightGray;
}

#page {max-width: 1000px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	background-color: white;
	font-family: Georgia, Times, serif;
}

h3 {font-size: 1.1em
}

p {padding: 5px;
	margin: 10px;	
}

li {line-height: 1.5em;}

.banner {width: 100%
}

/* Code for Navbar */
.navbar {list-style-type: none;	
		margin: 0;
		padding: 0;
		overflow:hidden;
		background-color: hsl(115, 67%, 37%);}
.linav {
	float: left;
	}
.linav a {display: block;
	color: white;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 18px
	}
.linav a:hover {background-color: hsl(115, 67%, 43%);
}

.content {margin-top: 50px;
}
/* Formatting for CV Page */
/* Formatting Headers in CV */
.sectionheader {text-transform: uppercase;
	}
.jobtitle {width: 50%;
	text-align: left;}
.jobdate {width: 50%;
	float: right;
	text-align: right;}
.jobheader {margin-bottom: 5px;
	font-weight: bold;
	margin-bottom: 2px}
.employer {margin-top: 2px;
	font-weight: bold;}

/* Formatting for About Me Page */

/* formatting of insert photos*/
.insertphoto {
	margin: 5px 20px;
}
.GBBOPortrait {float: left;
	margin: 5px 20px 15px 20px;
}
.GWWA {float:right;
}
.JBPortrait {float:left;
}
/* formatting for links at bottom*/
/*inspiration from http://www.onshorebirding.com/about.html */
.linkslist {list-style-type: none;
	margin: 10px;
	padding: 5px;
}
.link a:link {color: black;}
.link a:visited {color: black;}
.link a:hover {color: hsl(0, 0%, 60%;
}
